/* COLORS
    - First Choice -
    Purple: #5927e5
    Purple/grey: #9b89b3
    Light pink: #fCf7ff
    Black (optional): #1f1926

    - Second Choice -
    Blue: #4B83E7
    Cyan: #66E5CD

    Delete Red: #E74D3D
*/

* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
    background-image: linear-gradient(to top right, #4B83E7, #66E5CD);
}   


/* Header! */
.navbar {
    display: flex;
    padding: 38px;
    flex-wrap: wrap;
}

/* Header: Left Side / Logo */
.left-side {
    float: left; 
    width: 33.333%;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.left-side a {
    text-decoration: none;
    color: white;
}

.left-side span {
    font-weight: bold;
    border: 3px solid #5927e5;
    border-radius: 5px;
    background-color: #5927e5;
    color: white;
}

/* Header: Title Header */
.middle {
    display: inline-block; 
    width: 33.333%;
    text-align: center;
    font-size: 2.0rem;
    color: white;
}

/* Header: Right Side / Important Links */
.right-side {
    width: 33.333%;
    font-size: 1.5rem;
}

.link-wrapper {
    float: right;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.twitter-logo {
    color: #1DA1F2;
}

.linkedin-logo {
    color: #0e76a8;
}

.github-logo {
    color: #171515;
}

.link-wrapper a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    transition: color 0.5s;
}

.link-wrapper a:hover {
    border-bottom: 1px solid black;
}

/* Todo Styling  Structure*/
.todo-content {
    margin: auto;
    padding: 10px;
    width: 40%;
    border-radius: 5px;
    background: #fCf7ff;
}

form {
    display: flex;
    justify-content: center;
}

form > input, form button  {
    margin: 10px 10px;
    font-size: 2.0rem;
}

/* Add Todo Task Button */
form > button {
    cursor: pointer;
    display: inline-flex;
    padding: 0px;
    margin-left: 5px;
    background: #5927e5;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    outline: none;
}

form > button:hover {
    background: #4f21cf;
}

form > button:active {
    background: #4f21cf;
}

.button-text, .button-icon {
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    color: white;
}

.button-icon {
    background: rgb(0, 0, 0, 0.08); /*black background with 8% opacity */
}

/* Making it so clicking the actual icon on button does not interfere with clicking */
.fa-trash, .fa-check {
    pointer-events: none; /* makes it so the element does not react to pointer events */
}

/* Individual Todo Tasks */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
}

.todo-list {
    min-width: 92.5%;
    list-style: none;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    background: rgb(0, 0, 0, 0.08);
}

.todo .todo-item {
    flex: 1;
    padding-left: 5px;
}

/* Complete Button */
.todo .complete-button {
    cursor: pointer;
    background-color: #0fc737;
    color: white;
    border: none;
    padding: 1.0rem;
    font-size: 1.0rem;
}

/* Delete Button */
.todo .delete-button {
    cursor: pointer;
    background-color: #E74D3D;
    color: white;
    border: none;
    border-radius: 0px 5px 5px 0px;
    padding: 1.0rem;
    font-size: 1.0rem;
}


.todo .complete-button:hover {
    background-color: #0ebd34;
}

.todo .delete-button:hover {
    background-color: #dd4d3d;
}

.completed {
    opacity: 0.5;
    text-decoration: line-through;
}

/* Todo counter and Clear all */
.todo-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 33px 0px 33px;
}

.todo-counter {
    width: 60%;
    font-size: 1.5rem;
}

.todo-footer > button {
    cursor: pointer;
    display: inline-flex;
    padding: 0px;
    background: #5927e5;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    outline: none;
    font-size: 1.5rem;
}

.todo-footer > button:hover {
    background: #4f21cf;
}

.todo-footer > button:active {
    background: #4f21cf;
}